@model artistry_Web.Areas.Administrator.ViewModels.ChartsVM

@{
    var XLabels3 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.monthlyUserRegistrations.Select(x => x.Month).ToList());
    var YValues3 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.monthlyUserRegistrations.Select(x => x.Quantity).ToList());

    var XLabels4 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.weeklyAppLogReviews.Select(x => x.WeekDay).ToList());
    var YValues4 = Newtonsoft.Json.JsonConvert.SerializeObject(Model.weeklyAppLogReviews.Select(x => x.Quantity).ToList());
}

<div class="col-lg-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">User traffic</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="chart-container">
                <div class="box-body">
                    <div class="chart-container" id="user-chart-place">
                        <canvas id="line-chart" style="width:100%; height:300px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title text-semibold">Error traffic</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-action="close"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            <div class="chart-container">
                <div class="box-body">
                    <div class="chart-container" id="error-chart-place">
                        <canvas id="error-chart" style="width:100%; height:300px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
     $(function () {
            var chartName = "line-chart";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                labels: @Html.Raw(XLabels3),
                datasets: [{
                    label: "Users",
                    backgroundColor: ["#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd", "#3e95cd"],
                    borderColor: ["#3e95cd"],
                    borderWidth: 1,
                    data: @Html.Raw(YValues3),
                }],
            };

            var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

        var myChart = new  Chart(ctx, {
                options: options,
                data: data,
                type:'bar'

            });
    });


     $(function () {
            var chartName = "error-chart";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                labels: @Html.Raw(XLabels4),
                datasets: [{
                    label: "Errors",
                    borderColor: ["#3cba9f"],
                    borderWidth: 2,
                    data: @Html.Raw(YValues4),
                    fill:false
                }],
            };

            var options = {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: true,
                            color: "rgba(255,99,164,0.2)"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            min: 0,
                            beginAtZero: true
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            };

        var myChart = new  Chart(ctx, {
                options: options,
                data: data,
                type:'line'

            });
        });
</script>