<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
     internalLogFile="Nlog.log" internalLogLevel="Debug"> 
  
    <targets> 
      <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\nlog-all.log"
                layout="${date}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
 
    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=configDir}\nlog-own.log"
             layout="${date}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />
 
    <target xsi:type="Null" name="blackhole" />
 
    <!--<target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"/>
    </target>-->
         
    <target name="database" xsi:type="Database" connectionstring="Server=den1.mssql1.gear.host;Database=artistry;Trusted_Connection=false;User_ID=artistry;Password=Adna1!;">
 
    <!--<connectionString>/*${gdc:item=connectionString}</connectionString>-->

      <commandText> 
        insert into dbo.AppLogs (
              Application, Logged, Level, Message,
              Logger, CallSite, Exception,Seen
              ) values (
              @Application, @Logged, @Level, @Message,
              @Logger, @Callsite, @Exception, @Seen
              );             
      </commandText> 
        <parameter name="@application" layout="artistry_Web" />
          <parameter name="@logged" layout="${date}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />
 
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@callSite" layout="${callsite:filename=true}" />
          <parameter name="@exception" layout="${exception}" />
          <parameter name="@seen" layout="${gdc:Seen}" />   
    </target> 
    </targets> 
    <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
 
    <!--<logger name="*" minlevel="Trace" writeTo="ElasticSearch" />-->
       
    <logger name="*" minlevel="Trace" writeTo="database" />
       
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>