a {
    color: #d9534f;
}
a:hover {
  color: #0e9cd1;
}
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li:hover > a {
    color: #d9534f;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
    background: #d9534f;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
    color: #d9534f;
}
#offcanvas-toggler >i {
  color: #FFF;
}
    #offcanvas-toggler > i:hover {
        color: #d9534f;
    }
.projects-filter a.selected, .projects-filter a.selected:hover,
.btn-primary,
.sppb-btn-primary {
    background-color: #d9534f;
}
    .btn-primary:hover,
    .sppb-btn-primary:hover {
        border-color: #d9534f;
        background-color: #0e9cd1;
    }
ul.social-icons > li a:hover {
    color: #d9534f;
}
.sp-page-title {
    background: #d9534f;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #fff;
}
    .sp-module ul > li > a:hover {
        color: #d9534f;
    }
.sp-module .latestnews >div >a {
  color: #000000;
}
    .sp-module .latestnews > div > a:hover {
        color: #d9534f;
    }
.sp-module .tagscloud .tag-name:hover {
    background: #d9534f;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
    background: #d9534f;
}
.search .btn-toolbar button {
    background: #d9534f;
}
.post-format {
    background: #d9534f;
}
.voting-symbol span.star.active:before {
    color: #d9534f;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
    color: #d9534f;
}
.entry-link,
.entry-quote {
    background: #d9534f;
}
blockquote {
    border-color: #d9534f;
}
.carousel-left:hover,
.carousel-right:hover {
    background: #d9534f;
}
#sp-footer {
    background: #d9534f;
}
.sp-comingsoon body {
    background-color: #d9534f;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination > .active > a,
.pagination > .active > span {
    border-color: #d9534f;
    background-color: #d9534f;
}
    .pagination > .active > a:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:hover,
    .pagination > .active > span:focus {
        border-color: #d9534f;
        background-color: #d9534f;
    }
#lt-text1,
.lt-title h6,
.lt-slider .tp-caption:hover a,
.lt-feature-item:hover i,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover button,
.lt-team-item .qx-person-img:before {
    background: #d9534f;
}
.tp-caption.excerpt_2, .excerpt_2,
.lt-intro-item i,
.lt-feature-item h4,
.lt-table-item h3,
.lt-table-item .table-price .price,
.lt-table-item button:hover a,
.lt-testimonial p.qx-designation,
.lt-testimonial button,
.lt-team-item h4 {
    color: #d9534f;
}
.lt-feature-item:hover i,
#lt-team-item img,
.lt-portfolio-button:hover,
.lt-action-button:hover,
.lt-table-item:hover,
#lt-button-group .qx-btn,
.lt-slider .tp-caption:hover a,
.lt-table-item button,
.lt-subscribe-content table .button:hover {
    border-color: #d9534f !important;
}
/* Important */
.lt-services-item:hover i,
.lt-title-general h3,
.lt-services-item:hover h4,
.lt-service-item h4,
.lt-title h2,
.lt-about-item i,
#lt-touch,
#lt-about-button:hover,
#lt-service .lt-service-item i,
.lt-about-item .qx-btn-default {
    color: #d9534f !important;
}
.lt-contact #sp-quickcontact-form .button:hover,
#button-general,
.lt-courses-sub,
#lt-pricing .table-heading,
.table-footer,
.excerpt-slider1,
.lt-service-sub-item h4,
.lt-title h3:before,
.lt-subscribe-content table .button:hover {
    background: #d9534f !important;
}
    .lt-contact-form button:hover,
    .qx-progress-bar,
    .projects-filter a.selected,
    .projects-filter a:hover,
    .lt-about-sub,
    .table-footer .qx-btn,
    .lt-contact-form button,
    #lt-somlthing-button,
    #lt-button-group .qx-btn,
    #lt-counter,
    .lt-sub-build-item:hover {
        background-color: #d9534f !important;
    }
.lt-contact #sp-quickcontact-form .button:hover,
.btn-primary,
.lt-client-item,
.lt-about-item .qx-btn-default {
    border: 1px solid #d9534f !important;
}

.lt-about-item .qx-element-image:before {
    border: 7px solid #d9534f;
}
.projects-wrapper .project-img .project-img-extra {
    background-image: -webkit-linear-gradient(top, rgba(217,83,79, 0.51) 0%, rgba(217,83,79, 0.51) 100%) !important;
}