@model artistry_Data.Models.Administrators

<span class="media-heading text-semibold">@Model.FirstName @Model.LastName</span>
<div class="text-size-mini text-muted">
    <i class="icon-pin text-size-small"></i> &nbsp;@Model.Address
</div>
