@model artistry_Web.Areas.Moderator.ViewModels.TicketTypeVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Ticket types</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a asp-controller="TicketType" asp-action="Add" class="btn btn-link btn-float has-text add-style"><i class="icon-plus-circle2 text-primary"></i><span>Add</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i>Home</a></li>
            <li class="active"><a asp-controller="TicketType" asp-action="Index">Ticket types</a></li>
            <li class="active"><a asp-controller="TicketType" asp-action="Add">Add</a></li>
        </ul>
    </div>
</div>

<div class="content" style="padding-top:0px;" id="closePanel1">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">New</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-toggle="collapse" data-target="#collapsePanel1" class="icon-arrow-down12"></a></li>
                    <li><a data-close="close" data-target="#closePanel1" class="icon-cross3"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" id="collapsePanel1">
            <form asp-action="Save" role="form">
                @Html.AntiForgeryToken()
                <input asp-for="Id" type="hidden" />
                <input asp-for="MuseumId" type="hidden" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Type</label>
                            <input asp-for="Type" type="text" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Price</label>
                            <input asp-for="Price" type="text" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label>Currency</label>
                            <select asp-for="CurrencyId" asp-items="@Model.Currencies" type="text" class="form-control"></select>
                            <span asp-validation-for="CurrencyId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>