@model artistry_Web.Areas.Administrator.ViewModels.MuseumVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Museums</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a asp-controller="Museum" asp-action="Add" class="btn btn-link btn-float has-text add-museum"><i class="icon-plus-circle2 text-primary"></i><span>Add</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active"><a asp-controller="Museum" asp-action="Index">Museums</a></li>
            <li class="active"><a asp-controller="Museum" asp-action="GetMuseum">Edit</a></li>
        </ul>
    </div>
</div>

<div class="content" style="padding-top:0px;padding-bottom:0px;" id="closePanel2">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Edit</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-toggle="collapse" data-target="#collapsePanel2" class="icon-arrow-down12"></a></li>
                    <li><a data-close="close_edit" data-target="#closePanel2" class="icon-cross3"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" id="collapsePanel2">
            <form asp-action="Edit" role="form">
                @Html.AntiForgeryToken()
                <input asp-for="Id" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <input asp-for="PasswordHash" type="hidden" />
                <input asp-for="PasswordSalt" type="hidden" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Museum type</label>
                            <select asp-for="MuseumTypeId" asp-items="@Model.MuseumType" class="form-control"></select>
                            <span asp-validation-for="MuseumTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                            <input asp-for="Username" type="text" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Current password</label>
                            <input type="password" value="****" readonly="readonly" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Repeat password</label>
                            <input asp-for="PasswordSalt" type="password" class="form-control" placeholder="Repeat new password" />
                            <span asp-validation-for="PasswordSalt" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>New password</label>
                            <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Enter new password" />
                            @if (Model.PasswordSalt != "")
                            {
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            }
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
