@model artistry_Web.Areas.Moderator.ViewModels.MuseumVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    .container #map {
        height: 50%;
    }
    /* Optional: Makes the sample page fill the window. */

</style>

<script>
    var map;
    function initMap(a, b) {
        if (a != null && b != null) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: a, lng: b },
                zoom: 16
            });
            var marker = new google.maps.Marker({
                position: { lat: a, lng: b }, map: map
            });
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDm-SN4z3W_YbR2XcbJrNtfOo3z63VoKA&callback=initMap" async defer></script>
<div class="page-header page-header-default">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Museum</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a asp-controller="Image" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-link btn-float has-text"><i class="icon-image2 text-primary"></i><span>Gallery</span></a>
                <a asp-controller="WorkingHours" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-link btn-float has-text"><i class="icon-alarm text-primary"></i><span>Working hours</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index"><i class="icon-home2 position-left"></i> Home</a></li>
            <li class="active"><a asp-controller="Museum" asp-action="GetMuseum">Edit</a></li>
        </ul>
    </div>
</div>

<div class="content" style="padding-bottom:0px;" id="closePanel1">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Edit</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-toggle="collapse" data-target="#collapsePanel1"  class="icon-arrow-down12"></a></li>
                    <li><a data-close="close" data-target="#closePanel1" class="icon-cross3"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" id="collapsePanel1">
            <form asp-action="Edit" role="form">
                @Html.AntiForgeryToken()
                <input asp-for="Id" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Museum type</label>
                            <select asp-for="MuseumTypeId" asp-items="Model.MuseumTypes" class="form-control"></select>
                            <span asp-validation-for="MuseumTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Username</label>
                            <input asp-for="Username" type="text" class="form-control" readonly="readonly" />
                        </div>
                        <div class="col-md-6">
                            <label>Registration date</label>
                            <input asp-for="RegistrationDate" type="text" class="form-control" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                            <input asp-for="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Phone</label>
                            <input asp-for="Phone" type="text" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Year</label>
                            <input asp-for="Year" type="text" class="form-control" />
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                    <input asp-for="Address" type="text" class="form-control" id="addr" readonly="readonly"/>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label>Tickets selling</label>
                            <input asp-for="TicketSelling" type="checkbox" class="checkbox" />
                            <span asp-validation-for="TicketSelling" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label>Mobile application</label>
                            <input asp-for="QrScanning" type="checkbox" class="checkbox" />
                            <span asp-validation-for="QrScanning" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Description</label>
                            <textarea asp-for="Description" rows="9" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="Longitude" id="long" />
                <input type="hidden" asp-for="Latitude" id="lat" />
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-flat" id="closePanel2">
        <div class="panel-heading">
            <h6 class="panel-title">Location</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a data-toggle="collapse" data-target="#collapsePanel2" class="icon-arrow-down12"></a></li>
                    <li><a data-close="close" data-target="#closePanel2" class="icon-cross3"></a></li>
                </ul>
            </div>
        </div>
        <div class="panel-body" id="collapsePanel2">
            <form id="location-form">
                <div class="form-group">
                    <label>Address</label>
                    <input id="location-input" class="form-control typeahead" type="text" placeholder="Enter an address">
                </div>
                <div class="text-right">
                    <button type="submit" id="search" class="btn btn-primary" onclick="geocode();" style="margin-bottom:10px;">Search <i class="icon-search4 position-right"></i></button>
                </div>
            </form>
            <div class="form-group">
                <div id="map" class="map-wrapper content-group-sm"></div>
            </div>

        </div>
    </div>
</div>

<script>
    var lat;
    var lng;
    var locationForm = document.getElementById('location-form');
    locationForm.addEventListener('search', geocode);
    function geocode() {

        var location = document.getElementById('location-input').value;
        console.log(location);
        axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
            params: {
                address: location,
                key: 'AIzaSyABtZFoMj-bHpjcx4TJobEl_yY_pfWnMnY'
            }
        })
            .then(function (response) {
                // Log full response
                console.log(response);

                // Formatted Address
                var formattedAddress = response.data.results[0].formatted_address;
                document.getElementById('addr').value = formattedAddress;
                var formattedAddressOutput = `
                                <ul class="list-group">
                                <li class="list-group-item">${formattedAddress}</li>
                                </ul>
                                 `;

                // Address Components
                var addressComponents = response.data.results[0].address_components;
                var addressComponentsOutput = '<ul class="list-group">';

                // Geometry
                lat = response.data.results[0].geometry.location.lat;
                document.getElementById('lat').value = lat;
                lng = response.data.results[0].geometry.location.lng;
                document.getElementById('long').value = lng;
                console.log(lat);
                console.log(lng);
                initMap(lat, lng);


                // Output to app
                document.getElementById('addr').innerHTML = formattedAddressOutput;

            })
            .catch(function (error) {
                console.log(error);
            });
    }

    $(document).ready(function () {

        lat = parseFloat(document.getElementById('lat').value);
        lng = parseFloat(document.getElementById('long').value);
        if (lat != null && lng != null) {
            initMap(lat, lng);
        }
    });
</script>